[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyPDF2 = "==3.0.1"
setuptools = "*"
pytest = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
